<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="toSidenavClose()">
        <mat-icon>face</mat-icon>
        <span class="nav-list-span">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="toSidenavClose()">
        <mat-icon>input</mat-icon>
        <span class="nav-list-span">login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="toSidenavClose()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-list-span">Training</span>
    </a>
    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>eject</mat-icon>
            <span class="nav-lsit-span">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>