<section class="signup-form">
    <!-- <form fxLayout="column" fxLayoutAlign="center center" > -->
    <form fxLayout="column" fxLayoutAlign="center center" #signpForm="ngForm" (ngSubmit)="formSubmit(signpForm)" fxLayoutGap="10px">
  
        <mat-form-field>
            <mat-label>Your Email</mat-label>
            <input
                type="email"
                placeholder="your email"
                matInput
                ngModel
                name="email"
                required
                #emailError="ngModel">
            <mat-error *ngIf="emailError.hasError('required')">Field must not be Empty.</mat-error>
            <mat-error *ngIf="!emailError.hasError('required')">E-mail is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="min 8 character length. {{ pwInput.value?.length }} / 8">
            <mat-label>Your Password</mat-label>
            <input
                type="password"
                placeholder="your password"
                matInput
                ngModel
                name="password"
                required
                minlength="8"
                #pwInput="ngModel"
                >
             <!-- <mat-hint  > </mat-hint> -->
             <mat-error *ngIf="pwInput.hasError('required')">password must not be empty.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label required>your birthday</mat-label>
            <input 
                [matDatepicker]="picker"
                matInput
                placeholder="Choose a date "
                [max] = "maxDate"
                required
              >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker required> </mat-datepicker>
            <mat-error ></mat-error>
        </mat-form-field>
          
        <!-- <mat-form-field>
            <input type="text" placeholder="your birthday">
            <mat-label>Chose a date</mat-label>
            <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        <mat-checkbox ngModel name="agree" required color="primary" >I Agree on terms of use.</mat-checkbox>
        <button *ngIf='!isLooading' type="submit" mat-raised-button color="primary" [disabled]="signpForm.invalid"> Submit </button>
        <mat-spinner *ngIf='isLooading'></mat-spinner>
    </form>    
</section>
<!-- to controls form there are two way reactive aprotsh and templet driven approach -->
<!-- <div id="container">
    <div id="child1" class="child"></div>
    <div id="child2" class="child"></div>
    <div id="child3" class="child"></div>
    <div id="child11" class="child-1"></div>
    <div id="child12" class="child-1"></div>
    <div id="child13" class="child-1"></div>
</div> -->
